/* CSS File */

/*	Colour Scheme Info 

		Background Colour: #b84d45;

*/


.coloured-nav {
	color: #ffffff;
	background-color: #b84d45;
	border: none;
}


.page-masthead {
	color: #ffffff;
	background-color: #b84d45;
	padding: 6em 0;
	text-align: center;
}


/*	==============================

		HELPER CLASSES
		
	==============================	*/

.lowercase { text-transform: lowercase; }
	
.uppercase { text-transform: uppercase; }