
/*	Colour Scheme Info 

		Background Colour: #42474b;
		Highlight Colour: #b84d45;

*/




.container {
	width:1000px;
	margin:0 auto;
	padding:0;
}




/*	==============================

		HEADER STYLES
		
	==============================	*/

header {
	padding:0 0 3em 0;
	background-color: #42474b;
	color:#ffffff;
}

h1 span {
	background-color: #42474b;
}
	


/*	==============================

		PAGE CONTENT STYLES
		
	==============================	*/

	
.page-masthead {
	background-color: #b84d45;
	color: #fff;
	position: relative;
	padding: 6em 0;
	text-align: center;
}

.page-masthead h1 {
	font-size: 5em;
	line-height: 1;
}

#social {
	padding-top: 4.5em;
}

.intro {
	background-color: #fbdedb;
	padding-bottom: 3em;
}

.intro-box {
	padding-top: 3em;
}

.templates {
	padding: 3em 0;
}

.preview {
	padding: 1em 0 3em;
	text-align: center;
}

.download-links > li {
	margin-bottom: 5px;
}




/*	==============================

		MEDIA QUERY STYLES
		
	==============================	*/


@media (max-width: 991px) {

	.page-masthead {
		padding: 1em 0;
	}

	.page-masthead h1 {
		font-size: 3em;
	}

	.introduction {
		padding: 3em 0;
	}

}

@media (max-width: 767px) {

	.dropdown-menu > li > a,
	.dropdown-menu > li > a {
		color: #fbdedb;
	}

	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus {
		background-color: #a5423b;
		color: #fff;
	}

}